@{
    ViewData["Title"] = "Manage Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["HideCarousel"] = true;
}
@using ratingsflex.Areas.Movies.Models
@*@model List<MovieItem>*@
@model ManageMoviesViewModel


<div class="manage-movies-container">
    @if (TempData["Notification"] != null)
    {
        <div class="alert alert-info">
            @TempData["Notification"]
        </div>
    }
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }

    <div class="manage-movies-header">
        <h1>Manage Movies</h1>
        
    </div>
    <div class="manage-movies-list">
        <div class="row">
            <div class="col-md-6">
                <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("UploadMovie", "Movies")'">Upload Movie File</button>
                <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("ManageFiles", "Movies")'">Delete Movie File</button>
                <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("AddMovie", "Movies")'">Add Movie</button>
            </div>
            <div class="col-md-6">
                <form method="get" action="@Url.Action("ManageMovies", "Movies")" class="form-inline">
                    <label class="mr-2">Filter by Genre:</label>
                    <select id="genreDropdown" name="selectedGenre" onchange="this.form.submit()" class="form-control mr-2">
                        <option value="All" @(Model.SelectedGenre == "All" ? "selected" : "")>All</option>
                        <option value="Action" @(Model.SelectedGenre == "Action" ? "selected" : "")>Action</option>
                        <option value="Comedy" @(Model.SelectedGenre == "Comedy" ? "selected" : "")>Comedy</option>
                        <option value="Drama" @(Model.SelectedGenre == "Drama" ? "selected" : "")>Drama</option>
                        <option value="Adventure" @(Model.SelectedGenre == "Adventure" ? "selected" : "")>Adventure</option>
                        <option value="Animation" @(Model.SelectedGenre == "Animation" ? "selected" : "")>Animation</option>
                        <option value="Biography" @(Model.SelectedGenre == "Biography" ? "selected" : "")>Biography</option>
                        <option value="Crime" @(Model.SelectedGenre == "Crime" ? "selected" : "")>Crime</option>
                        <option value="Family" @(Model.SelectedGenre == "Family" ? "selected" : "")>Family</option>
                        <option value="Documentary" @(Model.SelectedGenre == "Documentary" ? "selected" : "")>Documentary</option>
                        <option value="Horror" @(Model.SelectedGenre == "Horror" ? "selected" : "")>Horror</option>
                        <option value="Musical" @(Model.SelectedGenre == "Musical" ? "selected" : "")>Musical</option>
                        <option value="Mystery" @(Model.SelectedGenre == "Mystery" ? "selected" : "")>Mystery</option>
                        <option value="Romance" @(Model.SelectedGenre == "Romance" ? "selected" : "")>Romance</option>
                        <option value="Sci-Fi" @(Model.SelectedGenre == "Sci-Fi" ? "selected" : "")>Sci-Fi</option>
                        <option value="Sport" @(Model.SelectedGenre == "Sport" ? "selected" : "")>Sport</option>
                        <option value="Thriller" @(Model.SelectedGenre == "Thriller" ? "selected" : "")>Thriller</option>
                        <option value="War" @(Model.SelectedGenre == "War" ? "selected" : "")>War</option>
                        <option value="Western" @(Model.SelectedGenre == "Western" ? "selected" : "")>Western</option>
                    </select>
                    <label class="mr-2">Filter by Rating:</label>
                    <select id="ratingFilter" name="selectedRating" onchange="this.form.submit()" class="form-control">
                        <option value="0" @(Model.SelectedRating == "0" ? "selected" : "")>All</option>
                        <option value="9" @(Model.SelectedRating == "9" ? "selected" : "")>9+</option>
                        <option value="8" @(Model.SelectedRating == "8" ? "selected" : "")>8+</option>
                        <option value="7" @(Model.SelectedRating == "7" ? "selected" : "")>7+</option>
                        <option value="6" @(Model.SelectedRating == "6" ? "selected" : "")>6+</option>
                        <option value="5" @(Model.SelectedRating == "5" ? "selected" : "")>5+</option>
                        <option value="4" @(Model.SelectedRating == "4" ? "selected" : "")>4+</option>
                        <option value="3" @(Model.SelectedRating == "3" ? "selected" : "")>3+</option>
                        <option value="2" @(Model.SelectedRating == "2" ? "selected" : "")>2+</option>
                        <option value="1" @(Model.SelectedRating == "1" ? "selected" : "")>1+</option>
                    </select>
                </form>
            </div>
        </div>
    </div>



    <div class="manage-movies-list">
        @if (Model.Movies != null && Model.Movies.Count > 0)
        {
            foreach (var movie in Model.Movies)
            {
                <div class="manage-movies-item">
                    <img data-src="@movie.PosterPath" alt="Movie Poster" />
                    <div class="manage-movies-item-content">
                        <h5 class="card-title">@movie.Title</h5>
                        <p class="card-text">@movie.Description</p>
                        <p class="card-text">Release Date: @movie.ReleaseTime</p>
                        <p class="card-text">Genre: @movie.Genre</p>
                        <p class="card-text">Rating: @movie.Rating</p>
                        <div class="manage-movies-item-actions">
                            <a href="@Url.Action("EditMovie", "Movies", new { movieId = movie.MovieId })" class="btn btn-primary" style="margin-right: 10px;">Edit</a>
                            <button data-movie-id="@movie.MovieId" data-release-time="@movie.ReleaseTime" class="btn btn-danger delete-movie">Delete</button>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <p>No movies found!</p>
        }
    </div>
</div>

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var deleteButtons = document.querySelectorAll('.delete-movie');
            deleteButtons.forEach(function (button) {
                button.addEventListener('click', function () {
                    var movieId = this.getAttribute('data-movie-id');
                    var releaseTime = this.getAttribute('data-release-time');
                    console.log('movieId:', movieId);
                    console.log('releaseTime:', releaseTime);

                    if (confirm('Are you sure you want to delete this movie?')) {
                        var token = document.getElementsByName("__RequestVerificationToken")[0].value;
                        console.log('token:', token);

                        var formData = new URLSearchParams();
                        formData.append('movieId', movieId);
                        formData.append('releaseTime', releaseTime);

                        console.log('URL:', '@Url.Action("DeleteMovie", "Movies")');

                        fetch('@Url.Action("DeleteMovie", "Movies")', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/x-www-form-urlencoded',
                                'RequestVerificationToken': token
                            },
                            body: formData
                        })
                            .then(response => response.json())
                            .then(data => {
                                console.log('data:', data);
                                if (data.success) {
                                    alert(data.message);
                                    location.reload();
                                } else {
                                    alert(data.message);
                                }
                            })
                            .catch(error => {
                                console.error('Error deleting movie:', error);
                                alert('Failed to delete movie. Please try again.');
                            });
                    }
                });
            });

            // Lazy loading images
            const images = document.querySelectorAll('img[data-src]');
            const options = {
                threshold: 0.5
            };

            const observer = new IntersectionObserver((entries, observer) => {
                entries.forEach(entry => {
                    if (entry.isIntersecting) {
                        const img = entry.target;
                        img.src = img.getAttribute('data-src');
                        observer.unobserve(img);
                    }
                });
            }, options);

            images.forEach(img => {
                observer.observe(img);
            });
        });

 

    </script>
}


